@model CoronaSystem.Models.Person

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Person</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MyId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MyId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CellPhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CellPhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstShot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstShot)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecondShot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecondShot)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThirdShot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThirdShot)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FourthShot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FourthShot)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vaccine1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vaccine1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vaccine2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vaccine2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vaccine3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vaccine3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vaccine4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vaccine4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PositiveDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PositiveDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NegativeDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NegativeDate)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PersonId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
